    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        background-color: hsl(218, 28%, 13%) !important;
        color: white !important;
        overflow-x: hidden;
        font-size: 20px!important;
        font-family: 'Roboto'!important;
        max-width: 95%!important;
    }
    
    body::-webkit-scrollbar {
        width: 5px;
    }
    
    body::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: white;
        outline: 1px solid slategrey;
    }
    
    header ul li {
        display: inline;
        list-style-type: none;
        padding: 25px;
        border: 1px solid rgb(31, 76, 139)!important;
        margin: 15px;
    }
    
    header ul li:hover {
        background-color: rgb(31, 76, 139)!important;
    }
    
    .light-mode {
        color: hsl(218, 28%, 13%) !important;
        background-color: white!important;
    }
    
    header {
        text-align: center;
        text-transform: capitalize;
        margin-top: 30px;
        justify-content: space-evenly;
        display: flex!important;
    }
    
    #hero {
        width: 90%;
        border-radius: 500px;
        margin-left: 50px;
    }
    
    #hero-container {
        margin-top: 80px;
    }
    
    #toggle {
        width: 20px;
    }
    
    footer {
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: white!important;
    }
    
    a:hover {
        text-decoration: none!important;
    }
    
    #about {
        background-color: rgb(31, 76, 139);
        padding: 10px;
        width: 51%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #about:hover {
        color: hsl(218, 28%, 13%) !important;
    }
    
    #social {
        width: 30px;
    }
    
    input {
        width: 100%;
        background-color: hsl(218, 28%, 13%) !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: white;
        padding: 5px;
        margin-bottom: 30px!important;
    }
    
    textarea {
        width: 100%;
    }
    
    #btn {
        background-color: rgb(31, 76, 139)!important;
        padding: 10px;
        text-align: center;
        border: none;
        margin-top: 20px;
        color: white;
    }
    
    #header-mobile {
        display: none;
        background-color: hsl(218, 28%, 13%) !important;
        z-index: 1;
        position: fixed;
        width: 100%;
    }
    
    #bars {
        display: none;
    }
    
    #name {
        display: none;
    }
    
    .card {
        background-color: hsl(218, 28%, 13%) !important;
        border-color: rgb(31, 76, 139)!important;
    }
    
    .card h1 {
        text-transform: capitalize;
    }
    /* 
p {
    font-size: 25px;
} */
    
    @media (max-width: 400px) {
        header ul li {
            padding: 5px;
        }
        #hero {
            width: 90%;
            margin-left: 5px;
        }
        #hero-container {
            margin-top: 40px;
        }
        #bars {
            display: block;
            width: 50px;
        }
        #header {
            display: none;
        }
        #name {
            display: block;
            margin-left: 10px;
        }
        #header-mobile ul li {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 30px;
            font-weight: 700;
            margin-top: 5px;
        }
        #header-mobile ul li:active {
            border: 1px solid rgb(31, 76, 139)!important;
        }
        #header-mobile ul {
            margin-top: 30px;
            text-transform: capitalize;
            text-align: center;
        }
        .blog__post {
            width: 100%;
        }
    }